<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>
<p>ユーザーフォト: <%= image_tag @user.photo.to_s %></p>
<br>
<%= link_to "ブログ一覧画面にもどる", blogs_path %>
<br>
<%= link_to "ユーザー登録編集", edit_user_path %>